<h2>Chat</h2>
<app-gif-menu></app-gif-menu>
<img src="../assets/test1.gif" width="30" height="30"/>

<div *ngFor="let message of messages | async">
	<h3> {{ message.author }} ({{message.date}}): {{message.text}} </h3>
</div>

<div *ngIf="(authService.user | async)">
  <input type="text" [(ngModel)]="newMessage.text" placeholder="text">
  <button (click)="addItem()" [disabled]="!newMessage.text">
  Send
  </button>
</div>

<div *ngIf="!(authService.user | async)">
  Login or Register first
</div>


<!-- <div>

	<h1>Enter Message</h1>
	<form (ngSubmit)="addItem()" #messageForm="ngForm">
    <div class="form-group">
			<label for="text"></label>
			<input type="text" class="form-control" id="text"
               required
               [(ngModel)]="newMessage.text" name="text"
               #text="ngModel">
			<div [hidden]="text.valid || text.pristine" class="alert alert-danger">
				Text is required
			</div>
		</div>


		<button type="submit" class="btn btn-success" [disabled]="!messageForm.form.valid">Submit</button>
	</form>
</div> -->