<h2>Chat</h2>

<img src="../assets/test1.gif" width="30" height="30"/>

<div *ngFor="let message of messages | async">
	<h3> {{ message.author }} ({{message.date}}): {{message.text}} </h3>
</div>

<div>
	<form (ngSubmit)="addItem()" #messageForm="ngForm">
    <div class="form-group">
			<label for="text"></label>
			<input type="text" class="form-control" id="text"
               required
               [(ngModel)]="newMessage.text" name="text"
               #text="ngModel">
			<div [hidden]="text.valid || text.pristine" class="alert alert-danger">
			</div>
		</div>


		<button type="submit" class="btn btn-success" [disabled]="!messageForm.form.valid">Submit</button>
	</form>
</div>

<app-gif-menu></app-gif-menu>